@model ShoppingCartViewModel

<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Ebook</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Ebook.Title</td>
                    <td class="text-right">@line.Ebook.Price.ToString("c", CultureInfo.CreateSpecificCulture("pl-PL"))</td>
                    <td class="text-right">
                        @((line.Amount * line.Ebook.Price).ToString("c", CultureInfo.CreateSpecificCulture("pl-PL")))
                    </td>
                    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove"
                    asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-ebookId="@line.Ebook.EbookId">Remove</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c", CultureInfo.CreateSpecificCulture("pl-PL"))
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success">Check out</a>
        </div>
    </div>
</div>